h1 {
  text-align: center;
}

.left {
  text-align: left;
}

.header {
  height: 10em;
  border: 1px solid black;
}

.question {
  text-align: center;
}

.q {
  text-align: left;
}

.question_2 {
  color: orange;
}

.question3 {
  color: blue;
}
